.resizeBar {
  flex-shrink: 0;
  background-color: #5a5a5a;
  transition: background-color 0.15s 0.15s ease-in-out;
  position: relative;
}

.resizeHorizontal {
  width: 5px;
  cursor: col-resize;
}
.resizeVertical {
  height: 5px;
  cursor: row-resize;
}

.flexContainer {
  display: "flex"
}

.shrink {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.contentContainer {
  padding: 15px 5px 5px 10px;
  overflow-y: auto;
}

.windowContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #2D3032;
  color: white;
  overflow: hidden;
}

.code_game {
  padding-top: 32px;
}

.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 32px;
  max-height: 32px;
  overflow-y: visible;
  background-color: #2a2a2a;
  border-bottom: 1px solid #444444;
  display: flex;
  z-index: 5;
}

.top_bar_spacer {
  flex-grow: 1;
}

.top_bar_item {
  flex-shrink: 0;
  padding: 2px 0px;
  display: inline-block;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'TODO: Change';
  background-color: #00000000;
  color: white;
  border: none;
  height: 32px;
  width: 96px;
  position: relative;
  overflow-x: visible;

  .top_bar_text {
    display: block;
    height: 28px;
    margin-bottom: 2px;
    text-align: center;
  }

  &:hover {
    background-color: #ffffff30;

    .top_bar_subitem {
      position: relative;
      display: block;
      opacity: 1;

      &:hover {
        background-color: #505050;
      }
    }
  }

  .top_bar_subitem {
    padding: 2px 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    height: 32px;
    background-color: #2a2a2a;
    border-left: 1px solid #505050;
    border-right: 1px solid #505050;
    border-radius: 0;
    border-top: 0px;
    border-bottom: 0px;
    width: 96px;
    color: white;
  }
}

.top_bar_small {
  width: 36px;
}

.horizontal_snapper {
  height: 48px;
  width: 12px;
  position: absolute;
  top: calc(50% - 24px);
  margin: 0px;
  border: none;
  background-color: #5a5a5a;

  &.left_snapper {
    left: -12px;
    content: "<";
  }
  &.right_snapper {
    right: -12px;
    content: ">";
  }
}

.vertical_snapper {
  height: 12px;
  width: 48px;
  position: absolute;
  left: calc(50% - 24px);
  margin: 0px;
  border: none;
  background-color: #5a5a5a;

  &.top_snapper {
    top: -12px;
    content: "/\\";
  }
  &.bottom_snapper {
    bottom: -12px;
    content: "\\/";
  }
}
